CONFIG_RTC_DRV_PCF8523=y

CONFIG_TOUCHSCREEN_EDT_FT5X26=y

CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_NET_QMI_WWAN=y

# CONFIG_MWIFIEX is not set
CONFIG_MAXLINEAR_8611X_PHY=y

CONFIG_COMMON_CLK_RS9_PCIE=y

CONFIG_IWLWIFI=m
CONFIG_IWLDVM=m
CONFIG_IWLMVM=m

CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_SND_SOC_TAS2780=y

#For CTouch2
CONFIG_RTC_DRV_PCF8563=y

# MP1 iCore dsi-lvds converter
CONFIG_DRM_TI_SN65DSI83=y

# Ampire 7 Touch
CONFIG_TOUCHSCREEN_ST1232=y

# uGEA evaluation baord
CONFIG_USB_MASS_STORAGE=m
